<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DapperConnection" 
         connectionString="Data Source=88.198.22.250;Initial Catalog=manatest.mana-automation.com;Persist Security Info=True;User ID=sa;Password=9a90$1b#9eda473!8f%5"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>